@import 'r.mobile';

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #edeee9;
}

.header {
  background-color: #40677e;
  padding: 20px;
  height: auto;
  width: 100%;
  box-sizing: border-box;

  &-logo {
    height: 50px;
  }

  &-selection {
    margin: 20px 0 0 0;
    display: flex;
    height: 50px;

    .search {
      width: 100%;
      margin-right: 10px;

      &-input {
        width: calc(100% - 30px);
        height: 100%;
        border: none;
        padding: 0 10px 0 20px;
        font-size: 0.9em;
        outline: none;
      }
    }

    .filter {
      background-color: #40677e;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 10px;
      width: 85px;

      p {
        margin: 0;
        font-size: 0.6em;
        color: #ffffff;
        font-weight: lighter;
        letter-spacing: 0.9px;
        line-height: 1;
        opacity: 0.6;
        user-select: none;
        padding: 3px;
      }

      p.active {
        background-color: #fff;
        color: #40677e;
        opacity: 1;
      }
    }
  }
}

.aside {
  margin: 20px 20px 10px 20px;
  float: right;
  height: auto;

  &-text {
    padding: 10px;
    background-color: #40677e;
    color: #fff;
    user-select: none;
  }

  &-text.active {
    background-color: #fff;
    color: #40677e;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .book {
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    box-sizing: border-box;
    background-color: #fff;

    &-title {
      text-align: center;
      font-size: 21px;
      font-weight: 500;
    }

    &-img {
      align-self: center;
      margin: 10px 0;
      width: 70%;
    }

    &-text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
